extends layout

block content
  section.showcase.bg-light.about
    .container
      .row
        .col-md-2
        .col-md-8.col-xs-12.about-text.mx-auto
          h1 About this project
          p!= aboutBody.replace(/\n/g, '<br />')

      