include ../ui-overlay/ui-overlay.pug
+overlay()(id="js-textbox-overlay" class="TextboxOverlay")
  div.Textbox__wrapper
    div.Textbox 
      div.Textbox__email
        div.Textbox__header
          p.Textbox__subject Re: Bestfit investment
          i.fas.fa-user-circle
          p.Textbox__signature Marc Hoffman, Linear Ventures
        .Score
          p.Score_content
        p.Textbox__content
      hr
      p.Textbox__response Reply:
      div.Textbox__buttons
        include ../../universal/button/button
        +button('OK').TextboxButton.is-inactive
        +button('OK').TextboxButton.is-inactive
