// UI instruction box
.Textbox {
  @include textBox();
  @include boxColors($bg-color: color(bg-washed-white), $shadow-color: 'grey');
  
  padding: padding(sm);
  font-size: font(base);
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 510px;
  max-width: 600px;
  
  @include mq($until: mobile-landscape) {
      min-width: 450px;
  }
  
  &__email {
    margin-bottom: margin(xs);
  }
  
  i {
    color: red;
    font-size: 2em; 
    padding-top: padding(xs);
  }

  hr {
    opacity:0.3;
  }
  
  &__header {
    margin-bottom: padding(sm);
  }
  
  &__subject {
    font-weight: bold;
    font-size: 1.3em;
    color: black;
  }

  &__signature {
    padding-left: 0.5em;
    display: inline-block;
    color: color(txt-dark-grey);
  }

  &__response {
    margin-top: padding(xs);

  }

  &__content, &__response {
    font-size: font(base);
    color: color(txt-dark-grey);
    margin-bottom: padding(sm);
  }
  
  &__buttons {
    display: flex;
  }
}

.TextboxButton {
  color: red;
  &:hover {
      color: red;
      // @include boxColors($txt-color: color(txt-light-grey), $bg-color: color(shadow-rose-light), $shadow-color: 'rose');
  }
}