/*!
SotBF
*/@font-face {
  font-family: 'VT323';
  src: url("../img/vt323-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

#mainNav {
  min-height: 56px;
  color: #be5857;
}

#mainNav h1 {
  color: #be5857;
  margin: 0;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #2e4755;
  border: 1px solid #2e4755;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  font-weight: 700;
  padding: 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: #212529;
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

#mainNav .nav-link {
  -webkit-transition: none;
  transition: none;
  padding: 1rem;
  color: #be5857;
}

#mainNav .nav-link:hover {
  color: rgba(190, 88, 87, 0.75);
}

#mainNav .nav-link:active {
  color: rgba(190, 88, 87, 0.25);
}

#mainNav.navbar-shrink {
  background-color: rgba(250, 250, 250, 0.8);
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(190, 88, 87, 0.9);
  }
  #mainNav .nav-link:hover {
    color: rgba(190, 88, 87, 0.5);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink .nav-link {
    padding: 1rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #2e4755;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #131e23;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #2e4755;
    outline: none;
    border-bottom: 0.25rem solid #2e4755;
  }
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  margin-top: 4rem;
  padding: 15rem 0;
  background: url("../img/landing2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  max-height: 90vh;
}

.masthead h1 {
  font-size: 4rem;
  line-height: 3rem;
  color: #be5857;
  margin-top: -5rem !important;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 3rem;
    line-height: 6rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 90vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 5rem;
    line-height: 6rem;
    margin-top: -8rem !important;
  }
}

@media (min-device-aspect-ratio: 15 / 9) {
  .masthead {
    background-size: contain;
  }
}

.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #2e4755;
}

.btn-primary:hover {
  background-color: #1c2b34;
}

.btn-primary:focus {
  background-color: #1c2b34;
  color: white;
}

.btn-primary:active {
  background-color: #131e23 !important;
}

.about-section {
  padding-top: 1rem;
}

.about-section p {
  margin-bottom: 3rem;
  text-align: left;
  line-height: 1.5;
}

@media (min-width: 992px) {
  .about-section p {
    text-align: justify;
  }
}

.signup-section {
  padding: 4rem 0;
  background: #f9f0e3;
}

.signup-section h2 {
  display: inline;
  margin: 1rem;
}

.signup-section .form-inline {
  padding-top: 1.5rem;
}

.signup-section .form-inline input {
  background: #dee2e6;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'Roboto Mono', monospace;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding: 5rem 0 0;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #2e4755;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #2e4755;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

footer {
  padding: 4rem;
}

footer .our-email {
  color: #be5857;
  font-size: 2.5rem;
  text-align: center;
}

footer .social {
  font-size: 3rem;
}

body {
  font-family: 'Roboto Mono';
  letter-spacing: 0.0625em;
  background: #f9f0e3;
}

.cute-box {
  position: relative;
  padding: 30px;
  background: #FAFAFA !important;
}

.cute-box:before, .cute-box:after {
  content: "";
  display: inline-block;
  position: absolute;
}

.cute-box:before {
  background: #be5857;
  left: 0;
  width: 100%;
  height: 5px;
  bottom: -5px;
  -webkit-transform: translateX(5px) skewX(65deg);
  transform: translateX(5px) skewX(65deg);
}

.cute-box:after {
  background: #FFADA3;
  top: 0;
  height: 100%;
  width: 10px;
  right: -10px;
  -webkit-transform: translateY(3px) skewY(25deg);
  transform: translateY(3px) skewY(25deg);
}

h1, h2 {
  font-family: 'VT323', monospace;
}

h1 {
  font-size: 3.5rem;
}

a {
  color: #2e4755;
}

a:focus, a:hover {
  text-decoration: none;
  color: #0a1013;
}

.padding-top {
  padding-top: 1rem;
}

.bg-white-transparent {
  background-color: rgba(250, 250, 250, 0.85);
}
