.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  margin-top: 4rem;
  padding: 15rem 0;
  background: url("../img/landing2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  max-height: 90vh;

  h1 {
    font-size: 4rem;
    line-height: 3rem;
    color: $rose-dark;
    margin-top: -5rem !important;
  }
  
  @media(min-width: 768px) {
    h1 {
      font-size: 3rem;
      line-height: 6rem;
    }
  }
  @media(min-width: 992px) {
    height: 90vh;
    padding: 0;
    h1 {
      font-size: 5rem;
      line-height: 6rem;
      margin-top: -8rem !important;
    }
  }
  @media(min-device-aspect-ratio: 15/9) {
    background-size: contain;
  }
}
