 @mixin textBox() {
   padding: 30px;
   background: $white-washed !important;

   &:before, &:after {
     content: "";
     display: inline-block;
     position:absolute;
    }
    
    // dark shadow: bottom
    &:before {
     background: $rose-dark;
     left: 0;
     width: 100%;
     height: 5px;
     bottom: -5px;
     transform:  translateX(5px) skewX(65deg);
   }
   
   // light shadow: side
   &:after {
     background: $rose-light;
     top: 0;
     height: 100%;
     width: 10px;
     right: -10px;
     transform: translateY(3px) skewY(25deg);
   }
   
 };