.signup-section {
  padding: 4rem 0;
  background: $yellow-washed;
  h2 {
    display: inline;
    margin: 1rem;
  }
  .form-inline {
    padding-top: 1.5rem;
    input {
      background: $gray-300;
      padding: 1.25rem 2rem;
      height: auto;
      font-family: 'Roboto Mono', monospace;
      font-size: 80%;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      border: 0;
    }
  }
}
