@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'signup.scss';
@import 'contact.scss';

@font-face {
  font-family: 'VT323';
  src: url('../img/vt323-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Roboto Mono';
  letter-spacing: 0.0625em;
  background: $yellow-washed;
}

h1, h2 {
  font-family: 'VT323', monospace;
}

h1 {
  font-size: 3.5rem;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-white {
  background-color: $white-washed !important;
}

.cute-box {
  position: relative;
  @include textBox();
}

.text-primary {
  color: #2e4755 !important;
}
.text-gray {
  color: #2F4755 !important;
}
.text-dark-pink {
  color: #be5857 !important;
}

.padding-top {
  padding-top: 1rem;
}

footer {
  padding: 4rem;
}

.footer-text {
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  text-align: center;
}

.our-email {
  font-size: 1.2rem;
}
