extends ../../layouts/layout-game

block content
  
  #gameCanvas
  include ../../../public/components/ui/ui-instruction/ui-instruction.pug
  include ../../../public/components/ui/ui-resume/ui-resume.pug
  include ../../../public/components/ui/task-timer/task-timer.pug
  include ../../../public/components/mobile-notification/mobile-notification.pug