extends ../../layouts/layout-game

block content
  
  #gameCanvas
  include ../../../public/components/interface/ui-instruction/ui-instruction.pug
  include ../../../public/components/interface/ui-resume/ui-resume.pug
  include ../../../public/components/interface/task-timer/task-timer.pug
  include ./mobile-notification/mobile-notification.pug