extends ../../layouts/layout-game

block content

  #gameCanvas
  include ../../../public/game/components/interface/ui-title/ui-title.pug
  include ../../../public/game/components/interface/ui-textbox/ui-textbox.pug
  include ../../../public/game/components/interface/ui-instruction/ui-instruction.pug
  include ../../../public/game/components/interface/ui-resume/ui-resume.pug
  +resume()
  include ../../../public/game/components/interface/yes-no/yes-no.pug
  include ../../../public/game/components/interface/ui-task/ui-task.pug
  include ../../../public/game/components/interface/perf-metrics/perf-metrics.pug
  include ../../../public/game/components/interface/ml/algorithm-inspector/algorithm-inspector.pug
  include ../../../public/game/components/interface/ml/news-feed/news-feed.pug

  include ../../../public/game/components/interface/ml/dataset-view/dataset-view.pug
  include ../../../public/game/components/interface/transition/transition-overlay/transition-overlay.pug
  include ../../../public/game/components/interface/training-stage/training-overlay/training-overlay.pug
  
  include ../../../public/game/components/interface/ml/endgame-overlay/endgame-overlay.pug

  include ../../../public/game/components/interface/ml/info-tooltip/info-tooltip.pug
  include ../../../public/game/components/interface/ml/person-tooltip/person-tooltip.pug
  include ../../../public/game/components/interface/ml/server-counter/server-counter.pug

  include ../../../public/game/components/interface/footer/footer.pug
  include ../../../public/game/components/interface/ui-mobile-notification/ui-mobile-notification.pug
