div.Overlay.MobileOrientationOverlay
  svg(class="phone-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 150")
      g(data-name="Layer 2")
          path(d="M26.66 146.66v-13.33h13.33v13.33zM40 146.67v-13.33h13.33v13.33zM53.33 146.67v-13.33h13.33v13.33zM66.67 120v-13.33H80V120zM66.66 106.66V93.33h13.33v13.33zM66.67 93.33V80H80v13.33zM66.67 80V66.67H80V80zM66.66 66.66V53.33h13.33v13.33zM66.67 53.33V40H80v13.33zM66.67 40V26.67H80V40zM13.33 146.67v-13.33h13.33v13.33zM0 133.33V120h13.33v13.33zM0 120v-13.33h13.33V120zM13.34 120v-13.33h13.33V120zM26.67 120v-13.33H40V120zM40 120v-13.33h13.33V120zM53.34 120v-13.33h13.33V120zM0 106.67V93.34h13.33v13.33zM0 93.33V80h13.33v13.33zM0 80V66.67h13.33V80zM0 66.67V53.34h13.33v13.33zM0 53.33V40h13.33v13.33zM0 40V26.67h13.33V40zM0 26.67V13.34h13.33v13.33zM13.33 13.34V.01h13.33v13.33zM26.67 13.33V0H40v13.33zM40 13.33V0h13.33v13.33zM53.33 13.34V.01h13.33v13.33zM66.66 26.66V13.33h13.33v13.33z")
          path(d="M13.34 133.33V120h20v13.33zM45.84 133.33V120h20v13.33z")
          path(d="M53.33 133.34v-13.33h13.33v13.33zM66.67 133.33V120H80v13.33z")
  h1(class="warning-title") Tilt to fit
  p(class="warning-description") This experience works only in landscape mode