.MobileOrientationOverlay {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: padding(sm);
  @include mq($until: mobile, $and: '(orientation: portrait)') {
      display: flex;
  
  }

  .phone-icon {
    width: 50px;
    height: 60px;
    animation: rotate 2.5s ease-in-out infinite;
  }

  .warning-title {
    // color: white;
    text-transform: uppercase;
    font-size: 2.8rem;
    padding: padding(xs) 0;
  }

  .warning-description {
    text-align: center;
    font-size: 1.2rem;
  }


  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    30% {
      transform: rotate(90deg);
    }
    60% {
      transform: rotate(90deg);
    }
    90% {
      transform: rotate(0);
    }
  }
}