div.Resume.js-resume.is-inactive.Resume--blue
  h1.Resume__title John Doe
  p.Resume__content Father of one trying a career change
  div.cv-category.cv-category--skill
    h3.cv-category__name Skill
    div.cv-category__skillbar
  div.cv-category.cv-category--school
    h3.cv-category__name School
    div.cv-category__skillbar
  div.cv-category.cv-category--experience
    h3.cv-category__name Work Experience
    div.cv-category__skillbar
  div.cv-category.cv-category--ambition
    h3.cv-category__name Ambition
    div.cv-category__skillbar