mixin MlResumeViewer(type)
  div.MlResumeViewer.js-resume-viewer.is-inactive&attributes(attributes)
    p.MlResumeViewer__title=type
    div.ResumeGrid
      div.ResumeGrid-item
        span.ResumeGrid-tooltip I'm a tooltip
      div.ResumeGrid-item
        span.ResumeGrid-tooltip I'm a tooltip
      div.ResumeGrid-item
        span.ResumeGrid-tooltip I'm a tooltip
      div.ResumeGrid-item
        span.ResumeGrid-tooltip I'm a tooltip
      div.ResumeGrid-item
        span.ResumeGrid-tooltip I'm a tooltip
