.DatasetOverlay {
  background-color: color(bg-yellow);
  // height: 100vh;
  // overflow: auto;
  // padding-top: padding(md);
  // color: white;
  
  &__x-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: red;
    right: padding(xs);
    top: padding(xs);
    background: url("../../assets/img/x-icon.png") no-repeat center;
    background-size: contain;
  }
  
  &__header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: margin(sm) 0 margin(sm) 0;
  }

}

.ViewLayout {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-display-rows: 1fr;
  grid-template-columns: 1fr 300px 1fr;
  grid-gap: 5px;
  padding-bottom: padding(md);
  
  &-item {
      // background-color: pink;
      grid-column: span 1;
  }
  
  &-scroller {
    position: absolute;
    bottom: margin(sm);
  }
}

.DatasetGrid {
  display: grid;
  height: 80vh;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
  grid-auto-flow: dense;
  grid-auto-rows: 100px;
  gap: 25px 10px;
  
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  // TODO how about other browsers?
  &::-webkit-scrollbar { 
    width: 0 !important 
  }
  
  &-title {
    width: 100%;
    text-align: center;
    margin-bottom: margin(sm);
    
    &--resume {
      color: color(grey-main);
    }
  }
}

.CVPreview {
  margin-top: margin(md);
  display: flex;
  justify-content: center;
}

