include ../../ui-overlay/ui-overlay.pug
+overlay()(id="dataset-overlay" class="DatasetOverlay")
  div.DatasetOverlay__x-icon.js-x-icon
  div.DatasetOverlay__header
    h1.DatasetOverlay__title This is the dataset view
  div.ViewLayout
    div.ViewLayout-item.DatasetGrid
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
    div.ViewLayout-item.CVPreview
      include ../../ui-resume/ui-resume.pug
      +resume()(id="js-dataset-resume" class="Resume--dataset")
    div.ViewLayout-item.DatasetGrid
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      div.DatasetGrid-item.PersonCard
        div.PersonCard-item.PersonCard-cv
        p.PersonCard-item.PersonCard-name Miha Klasinc
      
  //- <div class="content">
  //- <div class="title-bar"></div>
  //- <div class="dataset-grid">
  //-   <div class="dataset-grid-item cv-grid"></div>
  //-   <div class="dataset-grid-item cv-grid"></div>
  //-   <div class="dataset-grid-item cv-grid"></div>
  //-   </div>
  //- </div>