div.NewsFeed#news-feed.js-news-feed.is-inactive
  div.NewsFeed__title NewsFeed
  div.NewsList
    //- p.NewsList-item Technoradar: Amazon Algorithm Discriminates Against Women
    //- p.NewsList-item @CITIZEN: #TechCompanies should be held accountable!! #justice
  