div.AlgorithmInspector#algorithm-inspector.js-algorithm-inspector.is-inactive
  div.AlgorithmInspector__x-icon.js-x-icon
  h1.AlgorithmInspector__title Hiring Algorithm
  p.AlgorithmInspector__description The algorithm looks at the CVs of successful candidates and tries to find applicants with similar qualifications.
  div.ParamList
    div.Param.js-param-skill
      span.Param__name Skill:
      span.Param__value 0.5
    div.Param.js-param-school
      span.Param__name School:
      span.Param__value 0.348
    div.Param.js-param-ambition
      span.Param__name Ambition:
      span.Param__value 0.29
    div.Param.js-param-experience
      span.Param__name Work Experience:
      span.Param__value 0.12
    div.Param.js-param-city
      span.Param__name Home city:
      span.Param__value 0.38