// UI instruction box
.TaskTimer {
  pointer-events: none;
  @include buttonBox();
  @include boxColors($bg-color: color(bg-washed-white), $shadow-color: 'rose');
  box-shadow: inset 0 0 0 2px color(shadow-rose-light);
    
  // padding: 2px padding(sm) padding(sm) padding(sm);
  padding: 2px padding(xs) padding(xs) padding(xs);
  position: absolute;
  left: 50%;
  top: 4%;
  transform: translateX(-50%);
  min-width: 200px;
  display: flex;
  justify-content: space-around;
  
  &-task {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &-title {
    color: color(txt-light-grey);
  }
  
  &-value {
    color: black;
    line-height: 1rem;
    font-size: 1.5rem;
  }
  
  &__task {
    text-align: center;
  }
  
  &__task-progress {
    text-align: center;
  }
  
  &__timerbar {
    height: 7px;
    width: 100%;
    margin: padding(xs) 0 5px 0;
    background-color: lightgray;
  }
  
  &__timer-progress {
    height: inherit;
    background-color: color(shadow-rose-dark);
  }

  .blinking-bar {
    -webkit-animation: blink-animation 1s infinite;  /* Safari 4+ */
    -moz-animation: blink-animation 1s infinite;  /* Fx 5+ */
    -o-animation: blink-animation 1s infinite;  /* Opera 12+ */
    animation: blink-animation 1s infinite;  /* IE 10+, Fx 29+ */
  }
  
  @-webkit-keyframes blink-animation {
    0%, 49% {
      background-color: color(shadow-rose-dark);
    }
    50%, 100% {
      background-color: color(shadow-rose-light);
    }
  }

}