.PersonTooltip {
  
  @include buttonBox();
  @include boxColors($bg-color: color(bg-washed-white), $shadow-color: 'grey');
  
  padding: 0 5px 3px 5px;
  position: fixed;
  top: 100px;
  left: 50px;

}

.TooltipPointer {
  width: 0; 
  height: 0; 
  border-right: 8px solid transparent;
  border-top: 5px solid #919191;
  position: absolute;
  bottom: -7px;
  left: 4px;
  // background-color: color(shadow-grey-dark);
  // clip-path: polygon(0 0, 0% 100%, 100% 0);
  // width: 10px;
  // height: 6px;
}