doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Survival of the Best Fit
    link(rel='shortcut icon', href='favicon.png')
    link(rel='stylesheet', href='css/styles-game.min.css')

  body(class="Page--Game")

    block content

    script(src='assets/text/textTemplate.js')
    script(src='js/bundle-game.js')

    //- Global site tag (gtag.js) - Google Analytics 
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-138331065-1")
    script.
      window.dataLayer = window.dataLayer || []
      function gtag(){dataLayer.push(arguments)}
      gtag('js', new Date())
      gtag('config', 'UA-138331065-1')
