// base styles

html, body {
  width: 100%;
  height: 100%;
}

// body 
body { 
  position: fixed;
  top: 0;
  left: 0;
  background-color: color(bg-yellow);
  font-family: 'VT323', monospace;
}

// button
button {
  outline: none;
  border: none;
  font-family: 'VT323', monospace;
  
  &:hover, &:active {
    outline: none;
    border: none;
  }
}

.pink-background {
  background-color: color(rose-light) !important;
}


// email box
%email {
  @include textBox();
  @include boxColors($bg-color: color(bg-washed-white), $shadow-color: 'grey');
  
  padding: padding(sm) padding(xs) padding(sm) padding(sm);
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
