.replica {
  display: block;
  margin: 10px 0 20px 0;
  
  &__paragraph {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  &__buttons {
    display: flex;
  }
  
  &__typeIcon {
    height: 20px;
    width: 50px;
    background: url("../assets/img/type-bubble.gif") center/contain no-repeat;
  }

  &__send-instructions {
    color: color(txt-dark-grey);
    background-color: color(bg-light-grey);
    padding: 5px 10px;

    &.step-completed {
      position: relative;
      @include buttonBox();
      @include boxColors($txt-color:color(txt-black), $bg-color: color(rose-light), $shadow-color: 'rose');
      color: black;
    }
  }

};

.data-list {

  &__choice {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: color(txt-dark-grey);

    & > * {
      pointer-events: none;
    }

    @include mq($from: mobile-landscape) {
      &:hover {
        color: black;
        cursor: pointer;
      }
    }

    &.step-completed {
      position: relative;
      padding: 2px 10px;
      @include buttonBox();
      @include boxColors($txt-color:color(txt-black), $bg-color: color(rose-light), $shadow-color: 'rose');
      color: black;
    }
  
  }


  &__icon {
    width: 7px;
    height: 7px;
    border: solid 2px black;
    transition: all 0.3s ease-in-out;
    transform: translateY(50%);
    margin-right: margin(xs);
  }
}