extends ../layout/layout-default.pug

block content
  section.showcase.bg-light.about
    .container
      .row
        .col-md-2
        .col-md-8.col-xs-12.about-text.mx-auto
          h1.mb-5 #{title}
          h3 Machines, Bias, and Fairness
          // h3 b #{aboutBiasTitle}
          //p!= aboutBias.replace(/\n/g, '<br>')

