  .PerfMetrics {
    @include textBox();
    @include boxColors($bg-color: color(bg-washed-white), $shadow-color: 'rose');
      
    padding: padding(xs) padding(sm);
    position: absolute;
    display: inline-block;
    right: 20px;
    top: 4%;
    min-width: 220px;
    text-align: center;

    &__container{
        margin: 3px 0 3px 0;
        position: relative;
        height: 10px;
        width: 200px;
    }
    
    &__background {
        background-color: lightgray;
        width: 100%;
        height: 10px;
        position: absolute;
    }
    
    &__ticker{
        width: 33%;
        height: 10px;
        background-color: transparent;
        border-right: 7px solid rgb(32, 32, 32);
        position: absolute;
    }
    
    &__progress{
        width: 33%;
        height: 10px;
        background-color: color(shadow-rose-dark);
        position: absolute;
    }

    &__title{
        font-size: 2em;
    }

    .blinking-bar {
        -webkit-animation: blink-animation 0.5s infinite;  /* Safari 4+ */
        -moz-animation: blink-animation 0.5s infinite;  /* Fx 5+ */
        -o-animation: blink-animation 0.5s infinite;  /* Opera 12+ */
        animation: blink-animation 0.5s infinite;  /* IE 10+, Fx 29+ */
    }
    
    @-webkit-keyframes blink-animation {
        0%, 49% {
        background-color: color(shadow-rose-dark);
        }
        50%, 100% {
        background-color: color(shadow-rose-light);
        }
    }
    
  }