#Training-overlay {
  transition: background-color 0.5s ease-in-out;
  &.pink-background {
    background-color: color(rose-light);
  }
}
.ProgressBox {
    position: absolute;
    padding: padding(xs) padding(sm);
    left: 50%;
    top: 45%;
    width: 230px;
    transform: translate(-50%, -50%);
    @include buttonBox();
    @include boxColors($bg-color: color(bg-washed-white), $shadow-color: 'rose');
    box-shadow: inset 0 0 0 2px color(rose-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 6;
}

.ProgressBar {
  position: relative;
  width: 80%;
  max-width: 200px;
  height: 10px;
  margin: margin(xs) 0;
  background-color: color(rose-light);
  
  &__progress {
    transition: all 0.3s;
    position: absolute;
    left: 0;
    width: 0;
    height: inherit;
    background-color: color(shadow-red-light);
  }
}


.email {
  @extend %email;
  min-width: 400px;
  max-width: 600px;

  @include mq($until: mobile-landscape) {
    top: 53%;
  }

  &__head {
    color: color(txt-dark-grey);
  }

  &__paragraph {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  

  &__response {
    display: flex;
  }
}

.responseButton {
  user-select: none;

  .button {
    &.step-completed {
      @include buttonBox();
      @include boxColors($txt-color:color(txt-black), $bg-color: color(rose-light), $shadow-color: 'rose');
      color: black;
    }
  }

}