* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'VT323';
  src: url("../../assets/fonts/vt323-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  background-color: #F9F0E3;
  font-family: 'VT323', monospace; }

button {
  outline: none;
  border: none;
  font-family: 'VT323', monospace; }
  button:hover, button:active {
    outline: none;
    border: none; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.is-inactive {
  opacity: 0;
  display: none; }

.is-invisible {
  opacity: 0; }

.u-fade-in {
  animation: fadein 0.3s ease-in-out; }

.u-fade-out {
  animation: fadeout 0.3s ease-in-out; }

body.Page--Game {
  overflow: hidden; }

#gameCanvas {
  display: block; }
  @media (max-width: 23.74em) {
    #gameCanvas {
      display: none; } }

.button {
  height: inherit;
  width: inherit;
  position: relative;
  color: #B2B2B2;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .button__wrapper {
    display: inline-block;
    margin-right: 20px;
    width: 200px;
    height: 30px; }
  .button:before, .button:after {
    content: "";
    display: inline-block;
    position: absolute; }
  .button:before {
    left: 0;
    width: inherit;
    height: 4px;
    bottom: -4px;
    transform: translate(3px, -1px) skewX(55deg); }
  .button:after {
    top: 0;
    height: inherit;
    width: 5px;
    right: -5px;
    transform: translateY(1px) skewY(25deg); }
  .button:before {
    background: #919191; }
  .button:after {
    background: #B9B9B9; }
  .button:hover {
    cursor: pointer; }
  .button.is-clicked {
    color: #000000;
    background-color: #FECCC7; }
    .button.is-clicked:before {
      background: #F29488; }
    .button.is-clicked:after {
      background: #FFADA3; }

.Textbox {
  color: inherit;
  background-color: #FAFAFA;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 500px;
  max-width: 600px; }
  .Textbox:before, .Textbox:after {
    content: "";
    display: inline-block;
    position: absolute; }
  .Textbox:before {
    left: 0;
    width: 100%;
    height: 5px;
    bottom: -5px;
    transform: translateX(5px) skewX(65deg); }
  .Textbox:after {
    top: 0;
    height: 100%;
    width: 10px;
    right: -10px;
    transform: translateY(3px) skewY(25deg); }
  .Textbox:before {
    background: #919191; }
  .Textbox:after {
    background: #B9B9B9; }
  .Textbox__head {
    color: #B2B2B2; }

.Titlepage {
  color: inherit;
  background-color: #FAFAFA;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 800px;
  max-width: 1200px; }
  .Titlepage:before, .Titlepage:after {
    content: "";
    display: inline-block;
    position: absolute; }
  .Titlepage:before {
    left: 0;
    width: 100%;
    height: 5px;
    bottom: -5px;
    transform: translateX(5px) skewX(65deg); }
  .Titlepage:after {
    top: 0;
    height: 100%;
    width: 10px;
    right: -10px;
    transform: translateY(3px) skewY(25deg); }
  .Titlepage:before {
    background: #919191; }
  .Titlepage:after {
    background: #B9B9B9; }
  .Titlepage__head {
    color: #B2B2B2; }

.title-blue-person {
  max-height: 150px;
  margin: auto;
  display: inherit; }

.Titlepage__wrapper {
  background: url("../../assets/img/landing-graphic.png") no-repeat center;
  width: 100%;
  height: auto;
  background-attachment: scroll;
  background-size: cover; }

h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700; }

h2 {
  text-align: center;
  font-size: 1.2rem; }

.title-buttons {
  display: inherit;
  width: 200px;
  height: 60px;
  margin: auto;
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700; }

.Resume {
  color: inherit;
  background-color: #FAFAFA;
  padding: 20px 20px 40px 20px;
  position: absolute;
  right: 20px;
  top: 45%;
  min-width: 250px;
  min-height: 300px;
  max-height: 700px;
  max-width: 400px; }
  .Resume:before, .Resume:after {
    content: "";
    display: inline-block;
    position: absolute; }
  .Resume:before {
    left: 0;
    width: 100%;
    height: 5px;
    bottom: -5px;
    transform: translateX(5px) skewX(65deg); }
  .Resume:after {
    top: 0;
    height: 100%;
    width: 10px;
    right: -10px;
    transform: translateY(3px) skewY(25deg); }
  .Resume:before {
    background: #919191; }
  .Resume:after {
    background: #B9B9B9; }
  .Resume--yellow {
    box-shadow: inset 0 0 0 2px #FFDB8C;
    color: inherit;
    background-color: #FAFAFA; }
    .Resume--yellow:before {
      background: #F4AB0B; }
    .Resume--yellow:after {
      background: #FFDB8C; }
  .Resume--blue {
    box-shadow: inset 0 0 0 2px #CDE4F1;
    color: inherit;
    background-color: #FAFAFA; }
    .Resume--blue:before {
      background: #7DA6BE; }
    .Resume--blue:after {
      background: #CDE4F1; }
  .Resume--ml {
    top: 70px; }
  .Resume__title {
    font-size: 2rem; }
  .Resume--dataset {
    display: block;
    opacity: 1;
    transform: translateX(10px);
    top: unset;
    right: unset; }
  .Resume__scanline, .Resume__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .Resume__scanline {
    background-color: #FFADA3;
    height: 5px; }
  .Resume__mask {
    background-color: #e8e8e8ad;
    height: 0; }

.cv-category__name {
  padding: 10px 0; }

.cv-category__skillbar {
  height: 7px;
  width: 100%; }
  .Resume--yellow .cv-category__skillbar {
    background-color: #FFDB8C; }
  .Resume--blue .cv-category__skillbar {
    background-color: #CDE4F1; }
    .Resume--blue .cv-category__skillbar:before {
      background-color: #2F4755; }

.cv-category__progress {
  height: inherit; }
  .Resume--yellow .cv-category__progress {
    background-color: #F4AB0B; }
  .Resume--blue .cv-category__progress {
    background-color: #2F4755; }

.TaskTimer {
  color: inherit;
  background-color: #FAFAFA;
  padding: 10px 20px;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  min-width: 200px; }
  .TaskTimer:before, .TaskTimer:after {
    content: "";
    display: inline-block;
    position: absolute; }
  .TaskTimer:before {
    left: 0;
    width: 100%;
    height: 5px;
    bottom: -5px;
    transform: translateX(5px) skewX(65deg); }
  .TaskTimer:after {
    top: 0;
    height: 100%;
    width: 10px;
    right: -10px;
    transform: translateY(3px) skewY(25deg); }
  .TaskTimer:before {
    background: #F29488; }
  .TaskTimer:after {
    background: #FFADA3; }
  .TaskTimer__task {
    text-align: center; }
  .TaskTimer__task-progress {
    text-align: center; }
  .TaskTimer__timerbar {
    height: 7px;
    width: 100%;
    margin: 10px 0 5px 0;
    background-color: #FFADA3; }
  .TaskTimer__timer-progress {
    height: inherit;
    background-color: #F29488; }

.Overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 4;
  background-color: #F9F0E3; }

.MlResumeViewer {
  color: inherit;
  background-color: #FAFAFA;
  padding: 10px;
  position: absolute;
  transform: translate(-50%, -50%); }
  .MlResumeViewer:before, .MlResumeViewer:after {
    content: "";
    display: inline-block;
    position: absolute; }
  .MlResumeViewer:before {
    left: 0;
    width: 100%;
    height: 5px;
    bottom: -5px;
    transform: translateX(5px) skewX(65deg); }
  .MlResumeViewer:after {
    top: 0;
    height: 100%;
    width: 10px;
    right: -10px;
    transform: translateY(3px) skewY(25deg); }
  .MlResumeViewer:before {
    background: #919191; }
  .MlResumeViewer:after {
    background: #B9B9B9; }
  .MlResumeViewer__title {
    text-align: center;
    text-transform: uppercase; }
  .MlResumeViewer--accepted {
    left: 30%;
    top: 21%; }
  .MlResumeViewer--rejected {
    left: 70%;
    top: 21%; }

.ResumeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px; }
  .ResumeGrid-item {
    background-color: #CDE4F1;
    width: 20px;
    height: 20px;
    border-radius: 50%; }
  .ResumeGrid-item:hover .ResumeGrid-tooltip {
    visibility: visible; }
  .ResumeGrid-tooltip {
    position: absolute;
    visibility: hidden;
    z-index: 1;
    min-width: 100px;
    background-color: #FECCC7;
    color: #fff;
    text-align: center;
    padding: 5px 0; }

.AlgorithmInspector {
  color: inherit;
  background-color: #FAFAFA;
  box-shadow: inset 0 0 0 2px #FFADA3;
  padding: 10px 20px 40px 20px;
  z-index: 3;
  position: absolute;
  right: 20px;
  top: 2%;
  width: 250px;
  min-height: 300px;
  max-height: 700px; }
  .AlgorithmInspector:before, .AlgorithmInspector:after {
    content: "";
    display: inline-block;
    position: absolute; }
  .AlgorithmInspector:before {
    left: 0;
    width: 100%;
    height: 5px;
    bottom: -5px;
    transform: translateX(5px) skewX(65deg); }
  .AlgorithmInspector:after {
    top: 0;
    height: 100%;
    width: 10px;
    right: -10px;
    transform: translateY(3px) skewY(25deg); }
  .AlgorithmInspector:before {
    background: #F29488; }
  .AlgorithmInspector:after {
    background: #FFADA3; }
  .AlgorithmInspector__x-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: red;
    right: 10px;
    top: 10px;
    background: url("../../assets/img/x-icon.png") no-repeat center;
    background-size: contain; }
  .AlgorithmInspector__title {
    text-transform: uppercase;
    font-size: 1.7rem; }
  .AlgorithmInspector__description {
    color: #B2B2B2; }

.ParamList {
  padding-top: 10px; }

.Param {
  font-size: 1.3rem;
  text-transform: uppercase; }
  .Param__value {
    padding-left: 10px;
    color: #B2B2B2; }

.NewsFeed {
  color: inherit;
  background-color: #FAFAFA;
  padding: 2px 20px 2px 20px;
  z-index: 2;
  position: absolute;
  top: 10px;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
  font-size: 1.5rem; }
  .NewsFeed:before, .NewsFeed:after {
    content: "";
    display: inline-block;
    position: absolute; }
  .NewsFeed:before {
    left: 0;
    width: 100%;
    height: 5px;
    bottom: -5px;
    transform: translateX(5px) skewX(65deg); }
  .NewsFeed:after {
    top: 0;
    height: 100%;
    width: 10px;
    right: -10px;
    transform: translateY(3px) skewY(25deg); }
  .NewsFeed:before {
    background: #919191; }
  .NewsFeed:after {
    background: #B9B9B9; }
  .NewsFeed__title {
    position: absolute;
    text-transform: uppercase;
    left: 0;
    top: 0;
    height: 100%;
    background: #B2B2B2;
    padding: 0 20px; }
  .NewsFeed__title, .NewsFeed .NewsList, .NewsFeed .NewsList-item {
    display: inline-block; }
  .NewsFeed .NewsList {
    transform: translateX(100px);
    padding: 2px;
    width: 150%;
    display: flex;
    align-items: center;
    overflow: hidden; }
    .NewsFeed .NewsList-item {
      padding: 0 20px;
      line-height: 1;
      border-right: solid #B2B2B2 2px; }

.DatasetOverlay {
  background-color: #F9F0E3; }
  .DatasetOverlay__x-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: red;
    right: 10px;
    top: 10px;
    background: url("../../assets/img/x-icon.png") no-repeat center;
    background-size: contain; }
  .DatasetOverlay__header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0; }

.ViewLayout {
  height: 80vh;
  overflow-y: auto;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-display-rows: 1fr;
  grid-template-columns: auto 300px auto;
  grid-gap: 5px;
  padding-bottom: 40px; }
  .ViewLayout::-webkit-scrollbar {
    width: 0 !important; }
  .ViewLayout-item {
    grid-column: span 1; }

.DatasetGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  gap: 25px 10px; }
  .DatasetGrid-item {
    display: flex;
    justify-content: center;
    align-items: center; }

.PersonCard {
  flex-direction: column; }
  .PersonCard:hover {
    transform: translateY(-3px); }
  .PersonCard-item {
    width: 100%;
    flex-direction: start; }
  .PersonCard-cv {
    height: 80px;
    width: 50%;
    background: url("../../assets/img/cv-flat.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  .PersonCard-name {
    width: 100%;
    text-align: center; }

.choiceButton {
  width: 250px;
  height: 30px; }

.replica {
  display: block;
  margin: 10px 0 20px 0; }
  .replica__paragraph {
    font-size: 1.2rem;
    margin-bottom: 15px; }

.conversationBox {
  color: inherit;
  background-color: #FAFAFA;
  padding: 10px 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  max-width: 700px; }
  .conversationBox:before, .conversationBox:after {
    content: "";
    display: inline-block;
    position: absolute; }
  .conversationBox:before {
    left: 0;
    width: 100%;
    height: 5px;
    bottom: -5px;
    transform: translateX(5px) skewX(65deg); }
  .conversationBox:after {
    top: 0;
    height: 100%;
    width: 10px;
    right: -10px;
    transform: translateY(3px) skewY(25deg); }
  .conversationBox:before {
    background: #919191; }
  .conversationBox:after {
    background: #B9B9B9; }

.MobileNofication {
  display: none; }
  @media (max-width: 23.74em) {
    .MobileNofication {
      display: block; } }
