.navbar.navbar-light.navbar-expand-lg
  .container
    a.navbar-brand(href='/')
      i.fas.fa-cube
      | Survival of the Best Fit

    .collapse.navbar-collapse
      ul.nav.navbar-nav.ml-auto
        li.nav-item(class=(title === 'Home') ? 'active' : undefined)
          a.nav-link(href='/') Home
        li.nav-item(class=(title === 'About') ? 'active' : undefined)
          a.nav-link(href='/about') About
        li.nav-item(class=(title === 'Resources') ? 'active' : undefined)
          a.nav-link(href='/resources') Resources
        li.nav-item(class=(title === 'Contact') ? 'active' : undefined)
          a.nav-link(href='/contact') Contact
