// UI instruction box
.Instruction {
  
  @include buttonBox();
  @include boxColors($bg-color: #f56b6bf7, $shadow-color: 'darkred');
  
  &__wrapper {
    position: absolute;
    bottom: 200px;
    left: 50%;
    z-index: 1;
    text-align: center;
    box-shadow: 10px 10px 28px -19px rgba(0,0,0,0.75);
  }
  
  color: white;
  font-size: 1.3rem;
  padding: padding(xxs) padding(xs) 7px padding(xs);

}