.Footer {
  position: absolute;
  bottom: margin(sm);
  right: margin(md);
  
  &:hover {
    transform: scale(1.1);
  }
}

.FullscreenIcon {
  height: 23px;
  width: auto;
  width: 50px;
  background: url('../assets/img/screen-expand-icon.png') no-repeat center;
  background-size: contain;
  
  &--expanded {
    background: url('../assets/img/screen-collapse-icon.png') no-repeat center;
    background-size: contain;
  }

  &:hover {
    transform: scale(1.1);
  }
}