include ../ui-overlay/ui-overlay.pug
+overlay()(id="js-textbox-overlay" class="TextboxOverlay")
  div.Textbox__wrapper
    div.Textbox
      div.Textbox__email
        div.Textbox__header
          p.Textbox__subject Subject: New Subject
        p.Textbox__content
        p.Textbox__signature Best, Tim Partner, Linear Ventures
      p.Textbox__response Reply:
      div.Textbox__buttons
        include ../../universal/button/button
        +button('OK').TextboxButton.is-inactive
        +button('OK').TextboxButton.is-inactive
