div.Textbox__wrapper.js-textbox.is-inactive
  div.Textbox
    p.Textbox__content
    include ../../universal/button/button
    +button('OK').TextboxButton.is-inactive
    +button('OK').TextboxButton.is-inactive