mixin replica(index, replica, totalSteps)
  div(class=index === 0 ? '' : 'is-inactive', class="replica replica--"+index, data-step=index, data-file_drag=replica.file_drag, data-dataset_choice=replica.dataset_choice,  data-component="Replica")
    div(class="replica__typeIcon is-inactive")
    div(class="replica__content is-inactive")
      p(class="replica__paragraph") #{replica.text}
      div(class="replica__buttons")
        if replica.file_drag
          p(class="replica__send-instructions") Click cv_all.zip to send data
        else if replica.dataset_choice
          ul(class="data-list")
            li(id="choice-google" class="data-list__choice")
              div(class="data-list__icon")
              div(class="data-list__name") Google
            li(id="choice-apple" class="data-list__choice")
              div(class="data-list__icon")
              div(class="data-list__name") Apple
            li(id="choice-amazon" class="data-list__choice")
              div(class="data-list__icon")
              div(class="data-list__name") Amazon
        else if replica.answer_choice
            each choice in replica.answer_choice
              include ../choice-button/choice-button.pug
              +choiceButton(index, choice.text, totalSteps)