// UI instruction box
.YesNo {
  display: flex;
  justify-content: center;
  padding: padding(xs) padding(sm);
  position: absolute;
  min-width: 300px;
  text-align: center;
}

#spotlight-marker {
  position:absolute;
  top: 100px;
  left: 100px;
  width: 5px;
  height: 5px;
  background-color: red;
}