// util
.is-inactive {
  opacity: 0;
  display: none !important;
}

.is-invisible {
  opacity: 0;
}


.u-fade-in {
  animation: fadein 0.3s ease-in-out;
}

.u-fade-out {
    animation: fadeout 0.3s ease-in-out;
}
