// util
.is-inactive {
  opacity: 0;
  display: none !important;
}

.is-invisible {
  opacity: 0;
}

.is-transparent {
  background-color: color(bg-transparent) !important;
}


.u-fade-in {
  animation: fadein 0.3s ease-in-out;
}

.u-fade-out {
    animation: fadeout 0.3s ease-in-out;
}

.u-oscillate {
  animation-name: oscillate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.u-pulsate {
  animation-name: pulse;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
