mixin file(txt)
    div(draggable='true' class="datafile")&attributes(attributes)
        <svg class="datafile-svg" viewBox = "0 0 100 110" version = "1.1">
            <polygon class="datafile-shape" stroke="none" points="0,30 0,110 100,110 100,0 30,0"/>
        </svg>
        p #{txt}
