include ../../ui-overlay/ui-overlay.pug
include ../../../universal/button/button
+overlay()(id="TrainingOverlay" class="transparent-overlay")
  div(class="ProgressBox")
    p HIRING ALGORITHM
    div(class="ProgressBar")
      div(class="ProgressBar__base")
      div(class="ProgressBar__progress")
    p(class="ProgressBox__text")
  div(class="js-email email is-inactive")
    div(class="email__head")
      p From: software-engineer@company.com
      p Subject: Hiring Algorithm Ready!
    p(class="email__paragraph") Our algorithm has been successfully trained. You no longer need to accept and reject candidates yourself; sit back and enjoy the ride!
    div(class="email__response")
      +button('Great.')(class="js-training-stage-btn responseButton")
    
