// Variables
$white: #fff !default;
$gray-300: #dee2e6 !default;
$gray-900: #212529 !default;
$black: #161616 !default;
$rose-light: #FFADA3 !default;
$rose-light-2: #FFD8D9 !default;
$rose-dark: #be5857 !default;
$yellow-washed: #f9f0e3 !default;
$white-washed: #FAFAFA;
$dark-pink: #be5857 !default;

$primary: #2e4755 !default;


// box shadows
  $shadow-darkred-light: #e05555;
  $shadow-darkred-dark: #a52424;
  $shadow-red-light: #FF6262;
  $shadow-red-dark: #D04949;
  $shadow-rose-light: #FFADA3;
  $red-bg: #FF6262;


@font-face {
    font-family: 'VT323';
    src: url('../img-website/vt323-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
