mixin resume()
  div.Resume.is-inactive#js-resume&attributes(attributes)
    div.Resume__mask.is_inactive
    div.Resume__scanline.is-inactive
    h1.Resume__title
    p.Resume__tagline
    div.cv-category.cv-category--skill
      h3.cv-category__name
      div.cv-category__skillbar
        div.cv-category__progress
    div.cv-category.cv-category--school
      h3.cv-category__name
      div.cv-category__skillbar
        div.cv-category__progress
    div.cv-category.cv-category--work
      h3.cv-category__name
      div.cv-category__skillbar
        div.cv-category__progress
    div.cv-category.cv-category--ambition
      h3.cv-category__name
      div.cv-category__skillbar
        div.cv-category__progress