// UI instruction box
.Resume {
  @include textBox();
  @include boxColors($bg-color: color(bg-washed-white), $shadow-color: 'blue');
  box-shadow: inset 0 0 0 2px color(shadow-blue-light);
  
  padding: padding(sm) padding(sm) padding(md) padding(sm);
  
  position: absolute;
  right: margin(sm);
  top: 45%;
  min-width: 250px;
  min-height: 300px;
  max-height: 700px;
  max-width: 500px;

}

.cv-category {
  
  &__name {
    padding: padding(xs) 0;
  }
  
  &__skillbar {
    height: 7px;
    width: 100%;

    .Resume--yellow & {
      background-color: color(skill-bg-yellow);
    }
    
    .Resume--blue & {
      background-color: color(skill-bg-blue);
      &:before {
        background-color: color(skill-val-blue);
      }
    }    
  }
  
  &__progress {
    height: inherit;
    
    .Resume--yellow & {
      background-color: color(skill-val-yellow);
    }
    .Resume--blue & {
      background-color: color(skill-val-blue);
    } 
  }
  
}