* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #F9F0E3;
  margin: 10px;
  font-family: 'VT323', monospace; }

.conversationBox {
  height: inherit;
  width: inherit;
  position: relative;
  background-color: #FAFAFA;
  padding: 10px 20px; }
  .conversationBox__wrapper {
    display: inline-block;
    margin-right: 20px;
    width: 600px;
    height: 500px; }
  .conversationBox:before, .conversationBox:after {
    content: "";
    display: inline-block;
    position: absolute; }
  .conversationBox:before {
    left: 0;
    width: inherit; }
  .conversationBox:after {
    top: 0;
    height: inherit; }
  .conversationBox:after {
    width: 10px;
    right: -10px;
    transform: translateY(3px) skewY(25deg); }
  .conversationBox:before {
    height: 5px;
    bottom: -5px;
    transform: translateX(5px) skewX(65deg); }
  .conversationBox:before {
    background: #919191; }
  .conversationBox:after {
    background: #B9B9B9; }
  .conversationBox__wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px; }
  .conversationBox__head {
    color: #B2B2B2; }

.replica {
  display: block;
  margin: 10px 0 20px 0; }
  .replica__paragraph {
    font-size: 1.2rem;
    margin-bottom: 15px; }

button {
  outline: none;
  border: none;
  font-family: 'VT323', monospace; }
  button:hover, button:active {
    outline: none;
    border: none; }

.choiceButton {
  height: inherit;
  width: inherit;
  position: relative;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #B2B2B2; }
  .choiceButton__wrapper {
    display: inline-block;
    margin-right: 20px;
    width: 250px;
    height: 30px; }
  .choiceButton:before, .choiceButton:after {
    content: "";
    display: inline-block;
    position: absolute; }
  .choiceButton:before {
    left: 0;
    width: inherit; }
  .choiceButton:after {
    top: 0;
    height: inherit; }
  .choiceButton:after {
    width: 5px;
    right: -5px;
    transform: translateY(1px) skewY(25deg); }
  .choiceButton:before {
    height: 4px;
    bottom: -4px;
    transform: translate(3px, -1px) skewX(55deg); }
  .choiceButton:before {
    background: #919191; }
  .choiceButton:after {
    background: #B9B9B9; }
  .choiceButton--chosen {
    background-color: #FECCC7;
    color: #000000; }
    .choiceButton--chosen:before {
      background: #FFADA3; }
    .choiceButton--chosen:after {
      background: #F29488; }

.is-inactive {
  display: none; }
