.onboarding-instructions {
    @include textBox();
    @include boxColors($bg-color: color(bg-washed-white), $shadow-color: 'grey');
    
    padding: padding(sm) padding(xs) padding(sm) padding(sm);
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}