extends ../../layouts/layout-default

block content
  section.showcase.bg-light.resources
    .container
      .row
        .col-md-2
        .col-md-8.col-xs-12.about-text.mx-auto
          h1 #{title}
          p!=aboutBias
          p!= fixingBias.replace(/\n/g, '<br>')
          p!= futureSteps.replace(/\n/g, '<br>')
