extends ../layout/layout-default.pug

block content
	script(src='../scripts-website.min.js')
	body.resources
	#conclusion
		h1(style="margin-right: 6%; margin-top: 2%; margin-bottom: 2%;") Breaking it Down 
		
		.info-box(style="width: 85%; margin-left: 4%;")

			h4(style="margin-left: 5%;") Manual Hiring
			p As a recruiter, you had to make decisions on which applicants to accept and reject. Different people could prioritized ambition, education, hire randomly, or just try to get through the stage as quickly as possible. Though text text text text text tex <br> 

			img(src='../img-website/manual-hiring-01.png', style="width: 60%; margin-left: 20%; margin-right: auto; margin-bottom: 2%")

			h4(style="margin-left: 5%;") Training the Algorithm

			p As a recruiter, you had to make decisions on which applicants to accept and reject. Different people could prioritized ambition, education, hire randomly, or just try to get through the stage as quickly as possible. Though text text text text text te

			img(src='../img-website/processing.png', style="width: 60%; margin-left: 20%; margin-right: auto; margin-bottom: 2%")