div.TaskTimer#js-task-timer.is-inactive
  div.TaskTimer-task.js-hiring-goal
    p.TaskTimer-title To hire:
    p.TaskTimer-value 10 people
  div.TaskTimer-task.js-timer.is-inactive
    p.TaskTimer-title Time left:
    p.TaskTimer-value 00:00
  //- p.TaskTimer__task Hire 5 people
  //- div.TaskTimer__timerbar
  //-   div.TaskTimer__timer-progress
  //- p.TaskTimer__task-progress 0/5