div.Titlepage__wrapper.js-titlepage.is-inactive
  div.Titlepage
    img.title-blue-person(src="./assets/img/person_blue.png")
    h1.Titlepage__header
    h2.Titlepage__content
    include ../../universal/button/button
    +button('Start').TextboxButton.title-buttons.is-inactive
