@import "./node_modules/sass-mq/_mq";

$paddings: (
  xxs: 5px,
  xs: 10px,
  sm: 20px,
  md: 40px,
  lg: 80px
);

$margins: (
  xxs: 5px,
  xs: 10px,
  sm: 20px,
  md: 40px,
  lg: 80px,
  xl: 150px
);

$fonts: (
  base: 1.1rem
);

$colors: (
  bg-yellow: #F9F0E3,
  bg-washed-white: #FAFAFA,
  bg-transparent: #f9f0e354,
  txt-light-grey: #B2B2B2,
  txt-dark-grey: #696969,
  txt-light-pink: #FFD6D6,
  txt-black: #000000,
  rose-light: #FECCC7,
  grey-main: #F2F2F2,
  resume-mask: #e8e8e8ad,
  dark-mode-bg: #ff8d8d,
  dark-red-bg: #DD6363,
  // box shadows
  shadow-darkred-light: #e05555,
  shadow-darkred-dark: #a52424,
  shadow-red-light: #FF6262,
  shadow-red-dark: #D04949,
  shadow-rose-light: #FFADA3, 
  // shadow-rose-dark: #F29488,
  shadow-rose-dark: #d28b82,
  shadow-grey-light: #B9B9B9,
  shadow-grey-dark: #919191,
  shadow-blue-light: #CDE4F1,
  shadow-blue-dark: #7DA6BE,
  shadow-yellow-light: #FFDB8C,
  shadow-yellow-dark: #F4AB0B,
  // resume skill colors
  skill-bg-blue: #CDE4F1,
  skill-val-blue: #2F4755,
  skill-bg-yellow: #FFDB8C,
  skill-val-yellow: #F4AB0B
);

$mq-breakpoints: (
    mobile:  380px,
    mobile-landscape:  815px,
    tablet:  740px,
    desktop: 1024px,
    wide:    1300px
);