.AlgorithmInspector {
  @include textBox();
  @include boxColors($bg-color: color(bg-washed-white), $shadow-color: 'rose');
  box-shadow: inset 0 0 0 2px color(shadow-rose-light);
  
  padding: padding(xs) padding(sm) padding(md) padding(sm);
  
  z-index: 3;
  position: absolute;
  right: margin(sm);
  top: 2%;
  width: 250px;
  min-height: 300px;
  max-height: 700px;
  
  &__x-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: red;
    right: padding(xs);
    top: padding(xs);
    background: url("../../assets/img/x-icon.png") no-repeat center;
    background-size: contain;
  }
  
  &__title {
    text-transform: uppercase;
    font-size: 1.7rem;
  }
  
  &__description {
    color: color(txt-light-grey);
  }

}

.ParamList {
  padding-top: padding(xs);
}

.Param {
  font-size: 1.3rem;
  text-transform: uppercase;
  
  &__value {
    padding-left: padding(xs);
    color: color(txt-light-grey);
  }

}