// UI instruction box
.MlResumeViewer {
  @include textBox();
  @include boxColors($bg-color: color(bg-washed-white), $shadow-color: 'grey');
  
  padding: padding(xs);
  
  position: absolute;
  
  &__title {
    text-align: center;
    text-transform: uppercase;
  }
  
  &--accepted {
    left: 30%;
    top: 21%;
  }
  
  &--rejected {
    left: 70%;
    top: 21%;
  }

  transform: translate(-50%, -50%);

}

.ResumeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: padding(xs);
  grid-row-gap: padding(xs);
  
  &-item {
    background-color: color(shadow-blue-light);
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  
  &-item:hover &-tooltip {
    visibility: visible;
  }
  
  &-tooltip {
    position: absolute;
    visibility: hidden;
    z-index: 1;
    min-width: 100px;
    background-color: color(rose-light);
    color: #fff;
    text-align: center;
    padding: 5px 0;
  }
  
}